body{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222831;
    font-family: 'Nunito', sans-serif;
}
h1{
    color: #ffd369;
}
h2{
    color: #ffd369;
}
p{
    color: #eeeeee;
    text-align: center;
    margin: 0px 0px 10px 0px;
}
.game {
    display: flex;
    justify-content: space-around;
}
.area{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 10px;
}
@media (max-width: 600px){
    .game{
        display: flex;
        flex-direction: column;
    }
    h1, h2 {
        padding: 0;
        margin: 0;
    }
    .info {
        width: 90%;
    }
}